.select .main{
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 40px;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
}

.item.selected {
    background-color: blue;
    color: white;
}




/*------------------------------------Alternative select css-------------------------------------------------------*/
/*.select {*/
/*    border: 1px solid black;*/
/*    border-radius: 5px;*/
/*    height: 40px;*/
/*    width: 100px;*/
/*    padding: 10px 10px 0px 10px;*/
/*    font-size: 16pt;*/
/*}*/

/*.img {*/
/*    height: 15px;*/
/*    width: 15px;*/
/*    padding-left: 30px;*/
/*    margin-right: 0px;*/
/*}*/

/*.options {*/
/*    position: absolute;*/
/*    border: 1px solid black;;*/
/*    height: 80px;*/
/*    width: 100px;*/
/*    padding: 10px 10px 0px 10px;*/
/*    border-radius: 5px;*/
/*}*/